header{
    height: 50vh !important;
}

.project-containers {
    background-color: wheat;
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px 15px;
    justify-content: center;
}
.project {
    width: 170px;
    height: 150px;
    background-color: white;
    border-radius: 3px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 15px;
    text-align: center;
}
.couleur {
    background-color: #9a6324;
}
.project div {
    height: 65px;
    width: 65px;
    border-radius: 3px;
    text-align: center;
    margin-top: -30px;
}

.couleur-1 {
    background-color: #886af8;
}

.couleur-2 {
    background-color: #800;
}

.couleur-3 {
    background-color: orange;
}

.couleur-5 {
    background-color: orange;
}

.couleur-4 {
    background-color: #9a6324;
}

.couleur-6 {
    background-color: #89c421;
}

.couleur-7 {
    background-color: #5cb4f2;
}

.couleur-8 {
    background-color: orange;
}

.couleur-9 {
    background-color: orange;
}
